// Colors

$action: #FA7268;
$darkblue: #1A2930;
$turquoise: #7AD0B6;
$oker: #FCD29F;
$lightgrey: #DFDFDF;
$white: #ffffff;
$strongcyan: #00b2cc;
$black: #000000;
$grey:#666666;
$project1: #039DE3;
$project2: #4F496B;
$project3: #36B9A3;
$project4: #FF8A09;
$project5: #FA7268;