:root {
  --scenePerspective: 2;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 8;
  --cameraSpeed: 150;
  --cameraZ: 0;
  --viewportHeight: 0;
}

.viewport {
  height: calc(var(--viewportHeight) * 1px);
}

.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  background-color: #1A2930;
  -webkit-perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
          perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  -webkit-perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc( var(--scenePerspectiveOriginY) * 1%);
          perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc( var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(calc(var(--cameraZ) * 1px));
          transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}

.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
}

@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 45%;
  }
}

.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0;
}

.viewport .scene3D-container .scene3D > div:nth-child(2n + 1) {
  right: 0;
}

.viewport .scene3D-container .scene3D > div.full-width-item {
  left: auto;
  right: auto;
  width: 100%;
}

.viewport .scene3D-container .scene3D > div:nth-child(0) {
  -webkit-transform: translate3D(4%, -19%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
          transform: translate3D(4%, -19%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(1) {
  -webkit-transform: translate3D(6%, 36%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
          transform: translate3D(6%, 36%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(2) {
  -webkit-transform: translate3D(18%, -8%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
          transform: translate3D(18%, -8%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(3) {
  -webkit-transform: translate3D(-3%, -47%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
          transform: translate3D(-3%, -47%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(4) {
  -webkit-transform: translate3D(16%, 11%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
          transform: translate3D(16%, 11%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(5) {
  -webkit-transform: translate3D(1%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
          transform: translate3D(1%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(6) {
  -webkit-transform: translate3D(-19%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
          transform: translate3D(-19%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(7) {
  -webkit-transform: translate3D(-22%, 43%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
          transform: translate3D(-22%, 43%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(8) {
  -webkit-transform: translate3D(-14%, -17%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
          transform: translate3D(-14%, -17%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(9) {
  -webkit-transform: translate3D(10%, 0%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
          transform: translate3D(10%, 0%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(10) {
  -webkit-transform: translate3D(22%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
          transform: translate3D(22%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(11) {
  -webkit-transform: translate3D(-21%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
          transform: translate3D(-21%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(12) {
  -webkit-transform: translate3D(19%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
          transform: translate3D(19%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(13) {
  -webkit-transform: translate3D(22%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
          transform: translate3D(22%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(14) {
  -webkit-transform: translate3D(-10%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
          transform: translate3D(-10%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(15) {
  -webkit-transform: translate3D(-4%, -3%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
          transform: translate3D(-4%, -3%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(16) {
  -webkit-transform: translate3D(20%, -49%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
          transform: translate3D(20%, -49%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(17) {
  -webkit-transform: translate3D(17%, -20%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
          transform: translate3D(17%, -20%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(18) {
  -webkit-transform: translate3D(-1%, 15%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
          transform: translate3D(-1%, 15%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(19) {
  -webkit-transform: translate3D(18%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
          transform: translate3D(18%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(20) {
  -webkit-transform: translate3D(20%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
          transform: translate3D(20%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(21) {
  -webkit-transform: translate3D(-13%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
          transform: translate3D(-13%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(22) {
  -webkit-transform: translate3D(-22%, 40%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
          transform: translate3D(-22%, 40%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(23) {
  -webkit-transform: translate3D(-20%, -21%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
          transform: translate3D(-20%, -21%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(24) {
  -webkit-transform: translate3D(5%, -43%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
          transform: translate3D(5%, -43%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(25) {
  -webkit-transform: translate3D(16%, 37%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
          transform: translate3D(16%, 37%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
}

h1, h2, h3, p {
  color: #DFDFDF;
}

@media (min-width: 981px) {
  #jut-sales-content {
    overflow: hidden;
  }
  #jut-sales-title-section {
    padding: 0 !important;
  }
  #jut-sales-title-section .et_pb_row {
    padding: 0 !important;
  }
  #jut-sales-title-section .et_pb_module {
    height: 100vh;
    background-color: #1A2930;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #jut-sales-scroll-back {
    -webkit-perspective: 100px;
            perspective: 100px;
  }
  #jut-sales-scroll-back .et_pb_text_inner {
    -webkit-transform-style: preserve-3d;
    /* Safari 3-8  */
    -webkit-transform: rotateX(45deg);
    /* Safari 3-8  */
    transform-style: preserve-3d;
    -webkit-transform: rotateX(12deg);
            transform: rotateX(12deg);
  }
  #jut-sales-scroll-back a {
    font-size: 1000px;
  }
}
/*# sourceMappingURL=jut-sales-deck.css.map */