body {
  background: url("https://jut-so.de/wp-content/uploads/jut-so-selfie.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1, p {
  color: #DFDFDF;
}

.jut-subpage-container {
  padding: 0 !important;
  height: 100vh;
}

.jut-subpage-header-bar {
  position: relative;
  width: 100vw;
  padding: 40px !important;
  margin: auto;
  max-width: initial;
}

.jut-subpage-header-bar .et_pb_column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.jut-subpage-header-bar img {
  max-width: 130px;
}
/*# sourceMappingURL=jut-subpage.css.map */