
// Import variables
@import "variables";

// Define break point for responsive design
$smartphone-width: 980px;
$tablet-width: 980px;
$desktop-width: 981px;

@mixin smartphone {
    @media (max-width: #{$smartphone-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$smartphone-width + 1px}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// mixin to set height of row to 100% on desktop

@mixin row-full {
    .et_pb_row {
        height: 100%;

        > div {
            height: 100%;
        }
    }
}

// Scene styling

:root {
    --scenePerspective: 2;
    --scenePerspectiveOriginX: 50;
    --scenePerspectiveOriginY: 30;
    --itemZ: 8; // Gap between each cards
    --cameraSpeed: 150; // Where 1 is the fastest, this var is a multiplying factor of --scenePerspective and --filmZ
    --cameraZ: 0; // Initial camera position
    --viewportHeight: 0; // Viewport height will allow us to set the depth of our scene
  }

  .viewport {
    height: calc(var(--viewportHeight) * 1px);
  }

  .viewport .scene3D-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    background-color: $darkblue;
    perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
    perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(
        var(--scenePerspectiveOriginY) * 1%
      );
    will-change: perspective-origin;
    transform: translate3d(
      0,
      0,
      0
    ); //Allows Hardware-Accelerated CSS, so transitions are smoother
  }

  .viewport .scene3D-container .scene3D {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--cameraZ) * 1px));
    will-change: transform;
  }

  .viewport .scene3D-container .scene3D {
    > div {
      position: absolute;
      display: block;
      width: 100%;
      top: 40%;
  
      @media only screen and (min-width: 600px) {
        width: 45%;
      }
  
      &:nth-child(2n) {
        left: 0;
      }
  
      &:nth-child(2n + 1) {
        right: 0;
      }

      &.full-width-item{
          left: auto;
          right: auto;
          width: 100%;
      }
  
      @for $i from 0 through 25 {
        &:nth-child(#{$i}) {
          transform: translate3D(
            random(50) - 25 * 1%,
            random(100) - 50 * 1%,
            calc(var(--itemZ) * var(--cameraSpeed) * #{$i} * -1px)
          );
        }
      }
    }
  }

// General CSS Styles

h1, h2, h3, p{
  color: $lightgrey;
}

@include desktop{

  #jut-sales-content{  
      overflow: hidden;
  }

  #jut-sales-title-section{

    padding: 0 !important;
  
    .et_pb_row{
      padding: 0 !important;
    }
  
    .et_pb_module{
      height: 100vh;
      background-color: $darkblue;
      display: flex; 
      flex-direction: column; 
      justify-content: center;
    }
  }

  #jut-sales-scroll-back{

    perspective: 100px;

    .et_pb_text_inner{
      -webkit-transform-style: preserve-3d; /* Safari 3-8  */  
      -webkit-transform: rotateX(45deg); /* Safari 3-8  */
      transform-style: preserve-3d;
      transform: rotateX(12deg);
    }

    a{
      font-size: 1000px;
      
    }
  }
}

