
// Import variables
@import "variables";

body { 
  background: url("https://jut-so.de/wp-content/uploads/jut-so-selfie.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, p{
  color: $lightgrey;
}

.jut-subpage-container{
  padding: 0 !important;
  height: 100vh;
}

.jut-subpage-header-bar{
  position: relative;
  width: 100vw;
  padding: 40px !important;
  margin: auto;
  max-width: initial;

  .et_pb_column{
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  
  img{
    max-width: 130px;
  }
}
