// Import variables
@import "variables";

// Define break point for responsive design
$smartphone-width: 980px;
$tablet-width: 980px;
$desktop-width: 981px;

@mixin smartphone {
    @media (max-width: #{$smartphone-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$smartphone-width + 1px}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// mixin to set height of row to 100% on desktop

@mixin row-full {
    .et_pb_row {
        height: 100%;

        > div {
            height: 100%;
        }
    }
}

// hide x-overflow
body {
    overflow-x: hidden;
}

// Animated Lines on desktop background

@include desktop {

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: auto;
        width: 90vw;
    
        .line {
            position: fixed;
            width: 1px;
            height: 100%;
            top: 0;
            left: 50%;
            background: rgba(0, 0, 0, 0.1);
            overflow: hidden;
    
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 15vh;
                width: 100%;
                top: -50%;
                left: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 75%, #000 100%);
                animation: run 7s 0s infinite;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            }
    
            &:nth-child(1) {
                margin-left: -33.33%;
                
                &::after {
                    animation-delay: 2s;
                }
            }
    
            &:nth-child(2) {
                margin-left: -16.66%;
    
                &::after {
                    animation-delay: 1.5s;
                }
            }
            &:nth-child(4) {
                margin-left: 16.66%;
                
                &::after {
                    animation-delay: 3.5s;
                }
            }
    
            &:nth-child(5) {
                margin-left: 33.33%;
    
                &::after {
                    animation-delay: 1s;
                }
            }
        }
    }
            
    @keyframes run {
        0% {
            top: -50%;
        }
        
        100% {
            top: 110%;
        }
    }
}

// Section 1: Logo and header

#et-top-navigation{
    display: none;
}

#jut-home-section-header{

    @include smartphone{

        #jut-header-text-container{
            padding-top: 30px;
            padding-bottom: 15px;
            p{
                font-size: 12px;
                font-weight:600;
                letter-spacing: 1.5px;
            }
        }

        #jut-home-logo{
            margin-bottom: 15px;
        }

        #jut-home-intro-text {

            h1{
                text-transform: uppercase;
                color: $action;
                line-height: 1.3;
            }
        }
    }

    @include desktop {
        height: 95vh;
        padding: 0 !important;

        .et_pb_row {
            height: 100%;
        }

        #jut-header-text-container{
            height: auto;
            p{
                font-weight:500;
                letter-spacing: 2px;
            }
        }

        #jut-home-logo {
            img {
                width: 70%;
                max-width: 900px;
            }

            &.jut-home-logo-off {
                display: none;
            }
        }

        .jut-logo-scrolled {
            transform: scale(0.25) translateY(100%);
        }

        #jut-home-intro-text {
            max-width: 750px;
            margin: 0 auto;
            


            h1 {
                margin-bottom: 30px;
                text-transform: uppercase;
                color: $action;
            }

            p {
                padding-left: 15%;
                padding-right: 15%;
            }
     
            .et_pb_text_inner {

                transition: transform 0.3s ease-out;

                &.jut-intro-text-fade {
                    transform: scale(0, 0);
                    transition: .3s;
                }
            }
        }
    }
}

// Section 2: Team and intro
#jut-home-section-team {
    
    @include smartphone{
        img{
           width: 100%;
           max-width: 400px;
           transform: scale(1.3);
        }

        #jut-home-bubble-team {
            position: absolute;
            right: 10px;
            top: 35px;
            width: 130px;
            height: 130px;
            background-color: $darkblue;
            border-radius: 50%;
            z-index: -2;
        }
    }
    
    @include desktop {
        height: 100vh;

        .et_pb_row {
            width: 85%;
            max-width: 1400px;
        }

        @include row-full;

        #jut-home-bubble-team {
            position: absolute;
            right: 0;
            top: 0;
            width: 400px;
            height: 400px;
            background-color: $darkblue;
            border-radius: 50%;
            z-index: -2;
        }
        .jut-home-bubble-team-scale {
            transform: scale(1.3);
        }
    }
}

// Section 3: jut-so Späti
#jut-home-section-spaeti {
    
    @include smartphone{

        padding-top: 20px;

        #jut-kiez-mobile-heading{
            margin-bottom: 20px;
            div{
                width: 100% !important;
            }
        }

        #jut-kiez-content-row{
            display: flex;
        }

        .jut-spaeti-column-left{
            width:60% !important;
            margin-bottom: 0;
        }

        .jut-spaeti-column-right{
            width: 40% !important;

            #jut-home-spaeti-aus{
                display: none;
            }

            #jut-home-spaeti-an{
                opacity: 1;
                position: relative;
                padding-left: 20px;

                img{
                    width: 80vw;
                    max-width: 350px;
                }
            }
        }

        #jut-home-bubble-spaeti {
            position: absolute;
            margin-top: 120px;
            // left: 100px;
            width: 150px;
            height: 150px;
            background-color: $darkblue;
            border-radius: 50%;
            z-index: -2;
        }

        #jut-kiez-mobile-button{
            margin-top: 20px;
            .et_pb_code_inner{
                width: fit-content !important;
                margin: auto;
            }
        }
    }

    @include desktop {
        height: 100vh;

        .et_pb_row {
            width: 85%;
            max-width: 1400px;
        }

        @include row-full;

        #jut-home-bubble-kiez-bytes {
            position: absolute;
            right: 200px;
            top: -100px;
            width: 155px;
            height: 155px;
            background-color: $action;
            border-radius: 50%;
            z-index: -2;
        }

        #jut-home-bubble-spaeti {
            position: absolute;
            margin-top: 100px;
            // left: 100px;
            width: 300px;
            height: 300px;
            background-color: $darkblue;
            border-radius: 50%;
            z-index: -2;
        }

        .jut-home-bubble-spaeti-scrolled {
            transform: scale(1.5) translateX(45%);
        }

        .jut-home-spaeti-text {
            p {
                padding-right: 150px;
            }
        }
    }

    #jut-home-spaeti-aus {
        margin: 0 0 0 100px;
    }

    #jut-home-spaeti-an {
        opacity: 0;
        position: absolute;
        margin: 0 0 0 100px;

        &.jut-sign-activated {
            opacity: 1;
            animation: text-flicker 1s alternate;
        }
    }
    
}



// Section 3: Services
.jut-home-section-services {

    @include smartphone {

        .jut-home-services-row-left{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-column-gap: 30px;

            .jut-home-services-heading{
                grid-column-start: 1;
                grid-column-end: 3;
            }

            #jut-home-can{
                position: relative;
                left: -60px;
                max-width: 150px;
            
            
            &::before{
                position: absolute;
                left: 0;
                top: 100px;
                content: "";
                width:150px;
                height: 150px;
                background-color: $action;
                border-radius: 50%;
                }
            }

            #jut-home-wall{
                position: relative;
                left: -100px;
                align-self: end;
                margin-bottom: 0;

                img{
                    width: 180%;
                    max-width: 300px;
                }

                &::before{
                    position: absolute;
                    left: 0;
                    bottom: 80px;
                    content: "";
                    width:150px;
                    height: 150px;
                    background-color: $darkblue;
                    border-radius: 50%;
                    
                }
            }
        }

        .jut-home-services-row-right{
            display: grid;
            grid-template-columns: 60% 40%;

            .jut-home-services-heading{
                grid-column-start: 1;
                grid-column-end: 3;
            }

            #jut-home-bubble-code{
                position: relative;
                right: 30px;
            

                &::before{
                    position: absolute;
                    left: 60px;
                    top: 100px;
                    content: "";
                    width:150px;
                    height: 150px;
                    background-color: $darkblue;
                    border-radius: 50%;
                }

                img{
                    width: 200%;
                    max-width: 300px;
                }
            }

            #jut-home-services-kevin{
                margin-top: 50px;
                margin-bottom: 0;
            }

            #jut-home-bubble-kevin1{
                // position: absolute;
                // right: 80px;
                width: 150px;
                height: 150px;
                left:50px;
                top:30px;
                background-color: $action;
                border-radius: 50%;
                position: relative;
            }

            #jut-home-adrenalin{

                width: 200%;
                max-width: 300px;
            
                &::before{
                    position: absolute;
                    display: block;
                    right: -50;
                    background-color: $action;
                    border-radius: 50%;
                    content:"";
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    @include desktop {
        height: 100vh;
        overflow: hidden;
        @include row-full;

        .et_pb_row {
            width: 85%;
            max-width: 1400px;
        }

        .jut-home-services-row-left {
            padding-right: 120px;
            // border: 1px solid green;
            display: flex;
            flex-direction: column;

            #jut-home-bubble-can {
                position: absolute;
                top: -50px;
                right: 80px;
                width: 120px;
                height: 120px;
                background-color: $darkblue;
                border-radius: 50%;
                z-index: -2;
            }

            #jut-home-can {
                width: 20vh;
                margin-left: 100px;
            
                &::before {
                    position: absolute;
                    left: 150px;
                    top: 100px;
                    content: "";
                    width: 40%;
                    background-color: $action;
                    padding-top: 40%;
                    border-radius: 50%;
                }
            }

            #jut-home-service-design{
                align-self: flex-end;
            }

            #jut-home-bubble-text-sells{
                position: absolute;
                right: 80px;
                top: 0;
                width: 40px;
                height: 40px;
                background-color: $darkblue;
                border-radius: 50%;
                margin-bottom: 8.67%;
            }

            #jut-home-wall {
                width: 90%;
                align-self: flex-end;


                &::before {
                    position: absolute;
                    right: 100px;
                    content: "";
                    width: 40%;
                    background-color: $darkblue;
                    padding-top: 40%;
                    border-radius: 50%;
                }
            }

        }

        .jut-home-services-row-right {
            padding-left: 120px;
            // border: 1px solid green;
            display: flex;
            flex-direction: column;
            align-content: flex-end;

            #jut-home-bubble-code {
                width: 330px;
                height: 330px;
                background-color: $darkblue;
                border-radius: 50%;
                z-index: -2;
                flex-shrink: 0;

                img{
                    right: -50px;
                    // bottom: -30px;
                }
            }

            #jut-beethoven-look{
                position: absolute;
            }

            .jut-beethoven-wink{
                display: block !important;
            }

            #jut-beethoven-wink{
                position: absolute !important;
                display: none;

                
            }

            #jut-home-adrenalin::before{
                position: relative;
                content:"";
                background-color: $action;
                border-radius: 50%;
                flex-shrink: 0;
                padding: 100px 110px;
                top: 50px;
            }

            #jut-home-bubble-kevin2{
                position: absolute;
                left: 0px;
                top: 400px;
                width: 60px;
                height: 60px;
                background-color: $darkblue;
                border-radius: 50%;
                flex-shrink: 0;
            }
        }
    }    
}

@include smartphone{

    #jut-beethoven-wink{
    display: none;
    }
}

// portfolio slider

#jut-home-portfolio-slider {
    pointer-events: none;
    height: 80vh;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 100px;
    z-index: 9;

    @include smartphone{
        margin-bottom: 150px;
    }

    [type=radio],#jut-home-portfolio-inputs {
        display: none;
    }

    label {
        margin: auto;
        width: 70%;
        height: 100%;
        border-radius: 4px;
        position: absolute;
        left: 0; right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;
        pointer-events: all;
      }
}
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  
  #slide1 { background: $project1 }
  #slide2 { background: $project2 }
  #slide3 { background: $project3 }
  #slide4 { background: $project4 }
  #slide5 { background: $project5 }

  .jut-home-portfolio-slide{
      margin: auto;
      width: 100%;
      padding-bottom: 0 !important;
      height: 100%;
      max-width: 100%;

      h2, h3, p{
        color: $white;
      }

      h3{
          margin: 30px 0px;
          line-height: 1.4;
      }

      .et_pb_column{

        @include desktop{
            height: 100%;
        }

          @include smartphone{
            height: auto;
            h3{
                text-align: center;
            }
          }
      }

      a{
          color: $white;
          padding: 12px 20px;
          text-transform: uppercase; 
          border: 1px solid $white;
          border-radius: 12px;
          margin-top: 50px;
          font-weight: 300;
          font-size: 20px;

          &:hover{
              box-shadow: 0 0 0 1pt $white;
              cursor: pointer;
          }
      }
  }



@include smartphone{
    .jut-home-portfolio-logo{
        position: absolute;
        width: 60px;
        top: 27px;
        left: 27px;
    }

    .jut-home-portfolio-text{
        padding: 20px 30px;
    }

    .jut-home-schaukasten{
        margin: 27px 27px 0 0;
    }

    .jut-home-portfolio-column-1{
        height: fit-content !important;
      }

    .jut-home-portfolio-column-2{
        position: absolute;
        bottom: 0;
    }

    .jut-home-portfolio-image{
        width: 80%;
    }

    #jut-home-slider-content-3{
        img{
            width: 70%;
            margin-bottom: 20px;
        }
    }

    #jut-home-slider-content-5{
        .jut-home-portfolio-column-2{
            height: 100%;
            display: flex; 
            flex-direction: column; 
            justify-content: center;
        }
    }
}

// muss bald geändert werden

@media only screen and (max-width: 600px) {

    .jut-home-portfolio-text{

        p:first-of-type{
            display: none;
        }
    }
}


@include desktop{
    
  .jut-home-portfolio-column-1{
    padding-left: 50px;
  }

  .jut-home-portfolio-logo{
      position: absolute;
      width: 60px;
      top: 0;
      left: 27px;
  }

  .jut-home-schaukasten{
      padding-right: 27px;
  }

#jut-home-slider-content-1{
    img{
        transform: scale(1.1);
        top: -50px;
    }
}

#jut-home-slider-content-2{
    img{
        transform: scale(1.1);
        top: -50px;
    }
}

#jut-home-slider-content-4{
    .jut-home-portfolio-image{
        position: absolute;
        bottom: 0;
    }
}

#jut-home-slider-content-3{
    .jut-home-portfolio-image{
        width: 80%;
        margin: auto;
    }
}

#jut-home-slider-content-5{

    .jut-home-portfolio-image{
        img, a{
            padding-right:27px;
            position: relative;
            left: -33%;
            width: 80%;
            margin: 0 10%;
        }
    }
    a{
        padding-right:27px;
        position: relative;
        left: -33%;
    }

    .jut-home-portfolio-button{
        margin-top: 50px;
    }
}

}

// jut-home-section-merch

#jut-home-section-merch {

    @include smartphone{

        background-color: $lightgrey;

        #jut-home-grey-ribbon{
            display: flex;
            >div{
                &:first-child{
                width: 60% !important;
                }
                &:last-child{
                    width: 40% !important;
                    left: 15px;
                    img{
                        width: 300%;
                        max-width: 350px;
                        transform: rotate(310deg);
                    }
                }
            }
        }
    }

    @include desktop {

        margin-top: 250px;
        // height: 80vh;
        overflow: visible;
        @include row-full;
        padding: 0 !important;

        .button--nanuk {
            margin-left: 50px;
        }

    #jut-home-grey-ribbon{
        background-color: $lightgrey;
        width: 100% !important;
        max-width: 100% !important;
        padding: 50px 12.5%;
        height: 60vh;
        z-index: 10;
        max-height: 450px;

        #jut-home-grey-ribbon-first-column{
            p{
                padding: 0 50px;
                max-width: 420px;
            }
        }

        .et_pb_column{
            max-width: 700px;
        }

        #jut-home-shirt{
            width: 40vw;
        }
    }
    }
}

#jut-home-last-section{
    @include desktop{
        height: 70vh;
    }
}

#jut-home-contact-section{
    @include smartphone{
        padding-bottom: 0 !important;
    }
}

#jut-contact-form{

    h1{
        font-size: 36px;
        text-transform: uppercase;
        padding-bottom: 36px;
        @include smartphone{
            font-size: 24px;
            text-align: center;
            padding-bottom: 20px;
	    }
    }

    @include desktop {

        @include row-full;

        .et_pb_row {
            width: 100%;
        }

        &:before {
            position: absolute;
            left: -100px;
            top: -50px;
            content: "";
            width: 40%;
            background-color: $action;
            padding-top: 40%;
            border-radius: 50%;
        }
    } 
}

// Money section:

#jut-home-section-money {
    @include desktop {
        height: 100vh;

        @include row-full;

        .et_pb_row {
            width: 100%;
        }
    }    
}

// money animation

#jut-money {
    position: absolute;
    left: -100px;
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  
  1% {
    opacity: 0.9;
  }
  
  5% {
    opacity: 1;
  }
  
  7% {
    opacity: 0.5;
  }
  
  15% {
    opacity: 1;
  }
  
  16% {
    opacity: 0.3;
  }
  
  20% {
    opacity: 0.9;
  }
  
  22% {
    opacity: 0.7;
  }
  
  30% {
    opacity: 1;
  }
  
  35% {
    opacity: 1;
  }
  
  50% {
    opacity: 0.4;
  }
  
  60% {
    opacity: 1;
  }
  
  64% {
    opacity: 1;
  }
  
  70% {
    opacity: 0.2;
  }
  
  85% {
    opacity: 0.1;
  }
  
  100% {
    opacity: 1;
  }
}

// Footer

#jut-footer{

    a{
        color: $grey;
    }

    @include smartphone{

        .et_pb_row{
            margin: 0 20%;
        }
        p{
            text-align: left;
            margin-left: 30px;

        }

        #jut-footer-links-ordnung::before{
            content:"ORDNUNG";
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            transform-origin: bottom left;
            position: absolute;
            margin-top: 53px;
            font-weight: 700;
            left: 20px;
        }

        #jut-footer-links-recht::before{
            content:"RECHT";
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            transform-origin: bottom left;
            position: absolute;
            margin-top: 25px;
            font-weight: 700;
            left: 20px;
        }

        #jut-footer-links-asozial::before{
            content:"ASOZIAL";
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            transform-origin: bottom left;
            position: absolute;
            margin-top: 38px;
            font-weight: 700;
            left: 20px;
        }

        #jut-footer-cat-content{
            display: none;
        }
    }
    @include desktop {
        // height: 75vh;
        padding: 4% 0 0 0 !important;
        // overflow: hidden;
        // @include row-full;

        .et_pb_row {
            width: 85%;
            max-width: 1400px;
            padding: 0;

            &:last-child{
                bottom: 0;
                overflow: hidden;
            }
        }

        #jut-footer-newspaper{
            background-size: 80%;
        }

        .jut-footer-column-title{
            transform: rotate(270deg);
            transform-origin: bottom left;
    
            p{
                text-align: right;
                font-weight: 600;
            }
        }

        .jut-footer-links-column{
            padding-bottom: 50px;
        }

        .jut-footer-links{
            margin-top: 60%;
        }

        // Column Titels

        #jut-footer-links-ordnung::before{
            content:"ORDNUNG";
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            transform-origin: bottom left;
            position: absolute;
            margin-top: 53px;
            font-weight: 700;
            left: -10px;
        }

        #jut-footer-links-recht::before{
            content:"RECHT";
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            transform-origin: bottom left;
            position: absolute;
            margin-top: 25px;
            font-weight: 700;
            left: -10px;
        }

        #jut-footer-links-asozial::before{
            content:"ASOZIAL";
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            transform-origin: bottom left;
            position: absolute;
            margin-top: 38px;
            font-weight: 700;
            left: -10px;
        }

        #jut-footer-cat-content::before{
            content:"CAT CONTENT";
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            transform-origin: bottom left;
            position: absolute;
            margin-top: 98px;
            left: -20px;
            font-weight: 700;
        }

    }   
}