body {
  overflow-x: hidden;
}

@media (min-width: 981px) {
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  .lines .line {
    position: fixed;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .lines .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, #000), to(#000));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 75%, #000 100%);
    -webkit-animation: run 7s 0s infinite;
            animation: run 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .lines .line:nth-child(1) {
    margin-left: -33.33%;
  }
  .lines .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .lines .line:nth-child(2) {
    margin-left: -16.66%;
  }
  .lines .line:nth-child(2)::after {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .lines .line:nth-child(4) {
    margin-left: 16.66%;
  }
  .lines .line:nth-child(4)::after {
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
  }
  .lines .line:nth-child(5) {
    margin-left: 33.33%;
  }
  .lines .line:nth-child(5)::after {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  @-webkit-keyframes run {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  @keyframes run {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
}

#et-top-navigation {
  display: none;
}

@media (max-width: 980px) {
  #jut-home-section-header #jut-header-text-container {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  #jut-home-section-header #jut-header-text-container p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  #jut-home-section-header #jut-home-logo {
    margin-bottom: 15px;
  }
  #jut-home-section-header #jut-home-intro-text h1 {
    text-transform: uppercase;
    color: #FA7268;
    line-height: 1.3;
  }
}

@media (min-width: 981px) {
  #jut-home-section-header {
    height: 95vh;
    padding: 0 !important;
  }
  #jut-home-section-header .et_pb_row {
    height: 100%;
  }
  #jut-home-section-header #jut-header-text-container {
    height: auto;
  }
  #jut-home-section-header #jut-header-text-container p {
    font-weight: 500;
    letter-spacing: 2px;
  }
  #jut-home-section-header #jut-home-logo img {
    width: 70%;
    max-width: 900px;
  }
  #jut-home-section-header #jut-home-logo.jut-home-logo-off {
    display: none;
  }
  #jut-home-section-header .jut-logo-scrolled {
    -webkit-transform: scale(0.25) translateY(100%);
            transform: scale(0.25) translateY(100%);
  }
  #jut-home-section-header #jut-home-intro-text {
    max-width: 750px;
    margin: 0 auto;
  }
  #jut-home-section-header #jut-home-intro-text h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #FA7268;
  }
  #jut-home-section-header #jut-home-intro-text p {
    padding-left: 15%;
    padding-right: 15%;
  }
  #jut-home-section-header #jut-home-intro-text .et_pb_text_inner {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  #jut-home-section-header #jut-home-intro-text .et_pb_text_inner.jut-intro-text-fade {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media (max-width: 980px) {
  #jut-home-section-team img {
    width: 100%;
    max-width: 400px;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #jut-home-section-team #jut-home-bubble-team {
    position: absolute;
    right: 10px;
    top: 35px;
    width: 130px;
    height: 130px;
    background-color: #1A2930;
    border-radius: 50%;
    z-index: -2;
  }
}

@media (min-width: 981px) {
  #jut-home-section-team {
    height: 100vh;
  }
  #jut-home-section-team .et_pb_row {
    width: 85%;
    max-width: 1400px;
  }
  #jut-home-section-team .et_pb_row {
    height: 100%;
  }
  #jut-home-section-team .et_pb_row > div {
    height: 100%;
  }
  #jut-home-section-team #jut-home-bubble-team {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 400px;
    background-color: #1A2930;
    border-radius: 50%;
    z-index: -2;
  }
  #jut-home-section-team .jut-home-bubble-team-scale {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media (max-width: 980px) {
  #jut-home-section-spaeti {
    padding-top: 20px;
  }
  #jut-home-section-spaeti #jut-kiez-mobile-heading {
    margin-bottom: 20px;
  }
  #jut-home-section-spaeti #jut-kiez-mobile-heading div {
    width: 100% !important;
  }
  #jut-home-section-spaeti #jut-kiez-content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #jut-home-section-spaeti .jut-spaeti-column-left {
    width: 60% !important;
    margin-bottom: 0;
  }
  #jut-home-section-spaeti .jut-spaeti-column-right {
    width: 40% !important;
  }
  #jut-home-section-spaeti .jut-spaeti-column-right #jut-home-spaeti-aus {
    display: none;
  }
  #jut-home-section-spaeti .jut-spaeti-column-right #jut-home-spaeti-an {
    opacity: 1;
    position: relative;
    padding-left: 20px;
  }
  #jut-home-section-spaeti .jut-spaeti-column-right #jut-home-spaeti-an img {
    width: 80vw;
    max-width: 350px;
  }
  #jut-home-section-spaeti #jut-home-bubble-spaeti {
    position: absolute;
    margin-top: 120px;
    width: 150px;
    height: 150px;
    background-color: #1A2930;
    border-radius: 50%;
    z-index: -2;
  }
  #jut-home-section-spaeti #jut-kiez-mobile-button {
    margin-top: 20px;
  }
  #jut-home-section-spaeti #jut-kiez-mobile-button .et_pb_code_inner {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin: auto;
  }
}

@media (min-width: 981px) {
  #jut-home-section-spaeti {
    height: 100vh;
  }
  #jut-home-section-spaeti .et_pb_row {
    width: 85%;
    max-width: 1400px;
  }
  #jut-home-section-spaeti .et_pb_row {
    height: 100%;
  }
  #jut-home-section-spaeti .et_pb_row > div {
    height: 100%;
  }
  #jut-home-section-spaeti #jut-home-bubble-kiez-bytes {
    position: absolute;
    right: 200px;
    top: -100px;
    width: 155px;
    height: 155px;
    background-color: #FA7268;
    border-radius: 50%;
    z-index: -2;
  }
  #jut-home-section-spaeti #jut-home-bubble-spaeti {
    position: absolute;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background-color: #1A2930;
    border-radius: 50%;
    z-index: -2;
  }
  #jut-home-section-spaeti .jut-home-bubble-spaeti-scrolled {
    -webkit-transform: scale(1.5) translateX(45%);
            transform: scale(1.5) translateX(45%);
  }
  #jut-home-section-spaeti .jut-home-spaeti-text p {
    padding-right: 150px;
  }
}

#jut-home-section-spaeti #jut-home-spaeti-aus {
  margin: 0 0 0 100px;
}

#jut-home-section-spaeti #jut-home-spaeti-an {
  opacity: 0;
  position: absolute;
  margin: 0 0 0 100px;
}

#jut-home-section-spaeti #jut-home-spaeti-an.jut-sign-activated {
  opacity: 1;
  -webkit-animation: text-flicker 1s alternate;
          animation: text-flicker 1s alternate;
}

@media (max-width: 980px) {
  .jut-home-section-services .jut-home-services-row-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    grid-column-gap: 30px;
  }
  .jut-home-section-services .jut-home-services-row-left .jut-home-services-heading {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-can {
    position: relative;
    left: -60px;
    max-width: 150px;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-can::before {
    position: absolute;
    left: 0;
    top: 100px;
    content: "";
    width: 150px;
    height: 150px;
    background-color: #FA7268;
    border-radius: 50%;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-wall {
    position: relative;
    left: -100px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-bottom: 0;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-wall img {
    width: 180%;
    max-width: 300px;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-wall::before {
    position: absolute;
    left: 0;
    bottom: 80px;
    content: "";
    width: 150px;
    height: 150px;
    background-color: #1A2930;
    border-radius: 50%;
  }
  .jut-home-section-services .jut-home-services-row-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
  }
  .jut-home-section-services .jut-home-services-row-right .jut-home-services-heading {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-bubble-code {
    position: relative;
    right: 30px;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-bubble-code::before {
    position: absolute;
    left: 60px;
    top: 100px;
    content: "";
    width: 150px;
    height: 150px;
    background-color: #1A2930;
    border-radius: 50%;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-bubble-code img {
    width: 200%;
    max-width: 300px;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-services-kevin {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-bubble-kevin1 {
    width: 150px;
    height: 150px;
    left: 50px;
    top: 30px;
    background-color: #FA7268;
    border-radius: 50%;
    position: relative;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-adrenalin {
    width: 200%;
    max-width: 300px;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-adrenalin::before {
    position: absolute;
    display: block;
    right: -50;
    background-color: #FA7268;
    border-radius: 50%;
    content: "";
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 981px) {
  .jut-home-section-services {
    height: 100vh;
    overflow: hidden;
  }
  .jut-home-section-services .et_pb_row {
    height: 100%;
  }
  .jut-home-section-services .et_pb_row > div {
    height: 100%;
  }
  .jut-home-section-services .et_pb_row {
    width: 85%;
    max-width: 1400px;
  }
  .jut-home-section-services .jut-home-services-row-left {
    padding-right: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-bubble-can {
    position: absolute;
    top: -50px;
    right: 80px;
    width: 120px;
    height: 120px;
    background-color: #1A2930;
    border-radius: 50%;
    z-index: -2;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-can {
    width: 20vh;
    margin-left: 100px;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-can::before {
    position: absolute;
    left: 150px;
    top: 100px;
    content: "";
    width: 40%;
    background-color: #FA7268;
    padding-top: 40%;
    border-radius: 50%;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-service-design {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-bubble-text-sells {
    position: absolute;
    right: 80px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #1A2930;
    border-radius: 50%;
    margin-bottom: 8.67%;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-wall {
    width: 90%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .jut-home-section-services .jut-home-services-row-left #jut-home-wall::before {
    position: absolute;
    right: 100px;
    content: "";
    width: 40%;
    background-color: #1A2930;
    padding-top: 40%;
    border-radius: 50%;
  }
  .jut-home-section-services .jut-home-services-row-right {
    padding-left: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-bubble-code {
    width: 330px;
    height: 330px;
    background-color: #1A2930;
    border-radius: 50%;
    z-index: -2;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-bubble-code img {
    right: -50px;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-beethoven-look {
    position: absolute;
  }
  .jut-home-section-services .jut-home-services-row-right .jut-beethoven-wink {
    display: block !important;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-beethoven-wink {
    position: absolute !important;
    display: none;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-adrenalin::before {
    position: relative;
    content: "";
    background-color: #FA7268;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 100px 110px;
    top: 50px;
  }
  .jut-home-section-services .jut-home-services-row-right #jut-home-bubble-kevin2 {
    position: absolute;
    left: 0px;
    top: 400px;
    width: 60px;
    height: 60px;
    background-color: #1A2930;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (max-width: 980px) {
  #jut-beethoven-wink {
    display: none;
  }
}

#jut-home-portfolio-slider {
  pointer-events: none;
  height: 80vh;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-bottom: 100px;
  z-index: 9;
}

@media (max-width: 980px) {
  #jut-home-portfolio-slider {
    margin-bottom: 150px;
  }
}

#jut-home-portfolio-slider [type=radio], #jut-home-portfolio-slider #jut-home-portfolio-inputs {
  display: none;
}

#jut-home-portfolio-slider label {
  margin: auto;
  width: 70%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  pointer-events: all;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(-30%, 0, -200px);
          transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-15%, 0, -100px);
          transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(15%, 0, -100px);
          transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(30%, 0, -200px);
          transform: translate3d(30%, 0, -200px);
}

#slide1 {
  background: #039DE3;
}

#slide2 {
  background: #4F496B;
}

#slide3 {
  background: #36B9A3;
}

#slide4 {
  background: #FF8A09;
}

#slide5 {
  background: #FA7268;
}

.jut-home-portfolio-slide {
  margin: auto;
  width: 100%;
  padding-bottom: 0 !important;
  height: 100%;
  max-width: 100%;
}

.jut-home-portfolio-slide h2, .jut-home-portfolio-slide h3, .jut-home-portfolio-slide p {
  color: #ffffff;
}

.jut-home-portfolio-slide h3 {
  margin: 30px 0px;
  line-height: 1.4;
}

@media (min-width: 981px) {
  .jut-home-portfolio-slide .et_pb_column {
    height: 100%;
  }
}

@media (max-width: 980px) {
  .jut-home-portfolio-slide .et_pb_column {
    height: auto;
  }
  .jut-home-portfolio-slide .et_pb_column h3 {
    text-align: center;
  }
}

.jut-home-portfolio-slide a {
  color: #ffffff;
  padding: 12px 20px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 12px;
  margin-top: 50px;
  font-weight: 300;
  font-size: 20px;
}

.jut-home-portfolio-slide a:hover {
  -webkit-box-shadow: 0 0 0 1pt #ffffff;
          box-shadow: 0 0 0 1pt #ffffff;
  cursor: pointer;
}

@media (max-width: 980px) {
  .jut-home-portfolio-logo {
    position: absolute;
    width: 60px;
    top: 27px;
    left: 27px;
  }
  .jut-home-portfolio-text {
    padding: 20px 30px;
  }
  .jut-home-schaukasten {
    margin: 27px 27px 0 0;
  }
  .jut-home-portfolio-column-1 {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .jut-home-portfolio-column-2 {
    position: absolute;
    bottom: 0;
  }
  .jut-home-portfolio-image {
    width: 80%;
  }
  #jut-home-slider-content-3 img {
    width: 70%;
    margin-bottom: 20px;
  }
  #jut-home-slider-content-5 .jut-home-portfolio-column-2 {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .jut-home-portfolio-text p:first-of-type {
    display: none;
  }
}

@media (min-width: 981px) {
  .jut-home-portfolio-column-1 {
    padding-left: 50px;
  }
  .jut-home-portfolio-logo {
    position: absolute;
    width: 60px;
    top: 0;
    left: 27px;
  }
  .jut-home-schaukasten {
    padding-right: 27px;
  }
  #jut-home-slider-content-1 img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    top: -50px;
  }
  #jut-home-slider-content-2 img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    top: -50px;
  }
  #jut-home-slider-content-4 .jut-home-portfolio-image {
    position: absolute;
    bottom: 0;
  }
  #jut-home-slider-content-3 .jut-home-portfolio-image {
    width: 80%;
    margin: auto;
  }
  #jut-home-slider-content-5 .jut-home-portfolio-image img, #jut-home-slider-content-5 .jut-home-portfolio-image a {
    padding-right: 27px;
    position: relative;
    left: -33%;
    width: 80%;
    margin: 0 10%;
  }
  #jut-home-slider-content-5 a {
    padding-right: 27px;
    position: relative;
    left: -33%;
  }
  #jut-home-slider-content-5 .jut-home-portfolio-button {
    margin-top: 50px;
  }
}

@media (max-width: 980px) {
  #jut-home-section-merch {
    background-color: #DFDFDF;
  }
  #jut-home-section-merch #jut-home-grey-ribbon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #jut-home-section-merch #jut-home-grey-ribbon > div:first-child {
    width: 60% !important;
  }
  #jut-home-section-merch #jut-home-grey-ribbon > div:last-child {
    width: 40% !important;
    left: 15px;
  }
  #jut-home-section-merch #jut-home-grey-ribbon > div:last-child img {
    width: 300%;
    max-width: 350px;
    -webkit-transform: rotate(310deg);
            transform: rotate(310deg);
  }
}

@media (min-width: 981px) {
  #jut-home-section-merch {
    margin-top: 250px;
    overflow: visible;
    padding: 0 !important;
  }
  #jut-home-section-merch .et_pb_row {
    height: 100%;
  }
  #jut-home-section-merch .et_pb_row > div {
    height: 100%;
  }
  #jut-home-section-merch .button--nanuk {
    margin-left: 50px;
  }
  #jut-home-section-merch #jut-home-grey-ribbon {
    background-color: #DFDFDF;
    width: 100% !important;
    max-width: 100% !important;
    padding: 50px 12.5%;
    height: 60vh;
    z-index: 10;
    max-height: 450px;
  }
  #jut-home-section-merch #jut-home-grey-ribbon #jut-home-grey-ribbon-first-column p {
    padding: 0 50px;
    max-width: 420px;
  }
  #jut-home-section-merch #jut-home-grey-ribbon .et_pb_column {
    max-width: 700px;
  }
  #jut-home-section-merch #jut-home-grey-ribbon #jut-home-shirt {
    width: 40vw;
  }
}

@media (min-width: 981px) {
  #jut-home-last-section {
    height: 70vh;
  }
}

@media (max-width: 980px) {
  #jut-home-contact-section {
    padding-bottom: 0 !important;
  }
}

#jut-contact-form h1 {
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 36px;
}

@media (max-width: 980px) {
  #jut-contact-form h1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (min-width: 981px) {
  #jut-contact-form .et_pb_row {
    height: 100%;
  }
  #jut-contact-form .et_pb_row > div {
    height: 100%;
  }
  #jut-contact-form .et_pb_row {
    width: 100%;
  }
  #jut-contact-form:before {
    position: absolute;
    left: -100px;
    top: -50px;
    content: "";
    width: 40%;
    background-color: #FA7268;
    padding-top: 40%;
    border-radius: 50%;
  }
}

@media (min-width: 981px) {
  #jut-home-section-money {
    height: 100vh;
  }
  #jut-home-section-money .et_pb_row {
    height: 100%;
  }
  #jut-home-section-money .et_pb_row > div {
    height: 100%;
  }
  #jut-home-section-money .et_pb_row {
    width: 100%;
  }
}

#jut-money {
  position: absolute;
  left: -100px;
}

@-webkit-keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  1% {
    opacity: 0.9;
  }
  5% {
    opacity: 1;
  }
  7% {
    opacity: 0.5;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.9;
  }
  22% {
    opacity: 0.7;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  64% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  85% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  1% {
    opacity: 0.9;
  }
  5% {
    opacity: 1;
  }
  7% {
    opacity: 0.5;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.9;
  }
  22% {
    opacity: 0.7;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  64% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  85% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

#jut-footer a {
  color: #666666;
}

@media (max-width: 980px) {
  #jut-footer .et_pb_row {
    margin: 0 20%;
  }
  #jut-footer p {
    text-align: left;
    margin-left: 30px;
  }
  #jut-footer #jut-footer-links-ordnung::before {
    content: "ORDNUNG";
    display: inline-block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    position: absolute;
    margin-top: 53px;
    font-weight: 700;
    left: 20px;
  }
  #jut-footer #jut-footer-links-recht::before {
    content: "RECHT";
    display: inline-block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    position: absolute;
    margin-top: 25px;
    font-weight: 700;
    left: 20px;
  }
  #jut-footer #jut-footer-links-asozial::before {
    content: "ASOZIAL";
    display: inline-block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    position: absolute;
    margin-top: 38px;
    font-weight: 700;
    left: 20px;
  }
  #jut-footer #jut-footer-cat-content {
    display: none;
  }
}

@media (min-width: 981px) {
  #jut-footer {
    padding: 4% 0 0 0 !important;
  }
  #jut-footer .et_pb_row {
    width: 85%;
    max-width: 1400px;
    padding: 0;
  }
  #jut-footer .et_pb_row:last-child {
    bottom: 0;
    overflow: hidden;
  }
  #jut-footer #jut-footer-newspaper {
    background-size: 80%;
  }
  #jut-footer .jut-footer-column-title {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  #jut-footer .jut-footer-column-title p {
    text-align: right;
    font-weight: 600;
  }
  #jut-footer .jut-footer-links-column {
    padding-bottom: 50px;
  }
  #jut-footer .jut-footer-links {
    margin-top: 60%;
  }
  #jut-footer #jut-footer-links-ordnung::before {
    content: "ORDNUNG";
    display: inline-block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    position: absolute;
    margin-top: 53px;
    font-weight: 700;
    left: -10px;
  }
  #jut-footer #jut-footer-links-recht::before {
    content: "RECHT";
    display: inline-block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    position: absolute;
    margin-top: 25px;
    font-weight: 700;
    left: -10px;
  }
  #jut-footer #jut-footer-links-asozial::before {
    content: "ASOZIAL";
    display: inline-block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    position: absolute;
    margin-top: 38px;
    font-weight: 700;
    left: -10px;
  }
  #jut-footer #jut-footer-cat-content::before {
    content: "CAT CONTENT";
    display: inline-block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    position: absolute;
    margin-top: 98px;
    left: -20px;
    font-weight: 700;
  }
}
/*# sourceMappingURL=jut-home.css.map */