/*
 Theme Name:     jut-so-theme
 Theme URI:      http://www.elegantthemes.com
 Description:    jut-so page theme
 Author:         jut-so
 Author URI:     https://divi.world
 Template:       Divi
 Version:        1.0.0
*/
/* =Ab hier kannst du deine CSS-Anpassungen eintragen
------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese,200black,300black,500black,700black);
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");
body {
  overflow-x: hidden;
  position: relative;
}

#page-container {
  overflow: hidden;
  position: relative;
}

#main-footer {
  display: none;
}

#main-header {
  opacity: 0;
}

#page-container {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

h1, h2 {
  font-family: 'Roboto Black', sans-serif;
  font-weight: 700;
}

p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 979px) {
  p {
    text-align: center;
  }
}

p::-moz-selection {
  background: #FA7268;
  color: #ffffff;
}

p::selection {
  background: #FA7268;
  color: #ffffff;
}

h1 {
  font-size: 48px;
}

@media (max-width: 979px) {
  h1 {
    font-size: 24px;
  }
}

h2, .et_pb_column_1_4 h2, .et_pb_column_2_5 h2 {
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 36px;
}

@media (max-width: 979px) {
  h2, .et_pb_column_1_4 h2, .et_pb_column_2_5 h2 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
  }
}

.et_pb_section_parallax .et_pb_parallax_css, .et_pb_slides .et_parallax_bg.et_pb_parallax_css {
  -webkit-transform: none;
          transform: none;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
}

#main-header {
  background-color: transparent;
}

.et_pb_section {
  background: transparent;
}

@media (max-width: 979px) {
  .et_pb_row {
    padding: 0;
  }
}

.jut-vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jut-vertical-align-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 979px) {
  .jut-button {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

/* Nanuk */
.button--nanuk, #jut-contact-form button {
  overflow: hidden;
  border: 1px solid #FA7268;
  border-radius: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #FA7268;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 15px 20px 12px 20px;
}

.button--nanuk span, #jut-contact-form button span {
  font-size: 20px;
  line-height: initial;
}

.button--nanuk > span, #jut-contact-form button > span {
  display: inline-block;
  padding: 1em 0;
}

.button--nanuk:hover, #jut-contact-form button:hover {
  background-color: transparent;
  color: #FA7268;
}

#jut-footer-scroll-up a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#jut-footer-scroll-up a:hover {
  background-color: transparent;
  color: #FA7268;
  border: 1px solid #FA7268;
}

#jut-footer-scroll-up a:hover svg path {
  fill: #FA7268;
}

#jut-menu {
  position: fixed;
  height: 0 !important;
  width: 100vw;
  padding: 0;
  z-index: 99999;
}

#jut-right-menu-bar {
  position: fixed;
  right: 0;
  top: -77px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 100vh;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#jut-right-menu-bar a {
  color: #666666;
  font-weight: 500;
}

#jut-menu-social-icons {
  position: fixed;
  bottom: 0;
  padding: 27px;
  max-width: 150px;
}

#jut-menu-social-icons svg {
  fill: #666666;
}

#jut-footer-scroll-up a {
  border-radius: 50%;
  background-color: #FA7268;
  padding: 22px 22px 17px 22px;
}

#jut-footer-scroll-up a img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
}
/*# sourceMappingURL=style.css.map */