/*
 Theme Name:     jut-so-theme
 Theme URI:      http://www.elegantthemes.com
 Description:    jut-so page theme
 Author:         jut-so
 Author URI:     https://divi.world
 Template:       Divi
 Version:        1.0.0
*/
 
/* =Ab hier kannst du deine CSS-Anpassungen eintragen
------------------------------------------------------- */

// Fonts import

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese,200black,300black,500black,700black);
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

// Import variables
@import "css/_variables";

// Import css files (for dev phase only, later conditionally included in functions.php)

// Define break point for responsive design
$tablet-width: 981px;
$desktop-width: 980px;

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// General styles

body {
    overflow-x:hidden;
    position: relative;
}

#page-container{
    overflow:hidden;
    position: relative;
}

// hide footer
#main-footer {
	display: none;
}

// Hide header temporarily 
#main-header {
    opacity: 0;
    // display: none;
    // height: 0 !important;
}

#page-container {
    padding-top: 0 !important;
    margin-top:0 !important;
}

h1, h2{
    font-family: 'Roboto Black', sans-serif;
    font-weight: 700;
}

p{
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	@include tablet{
		text-align: center;
    }
    
    &::selection{
        background: $action;
        color: $white;
    }
}

h1{
    font-size: 48px;
	// font-weight: 200;
	@include tablet{
		font-size: 24px;
	}
}

h2, .et_pb_column_1_4 h2, .et_pb_column_2_5 h2 {
    font-size: 36px;
    text-transform: uppercase;
	padding-bottom: 36px;
	@include tablet{
		font-size: 24px;
		text-align: center;
		padding-bottom: 20px;
	}
}

// Paralax effect for Chrome and FireFox

.et_pb_section_parallax .et_pb_parallax_css, .et_pb_slides .et_parallax_bg.et_pb_parallax_css {
    transform: none;
}


// Particles background

#particles-js{
    position: fixed;
    width: 100%;
    height: 100vh;
}

// // Animated Lines on desktop background

// @include desktop {

// .lines {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 100%;
//     margin: auto;
//     width: 90vw;

//     .line {
//         position: fixed;
//         width: 1px;
//         height: 100%;
//         top: 0;
//         left: 50%;
//         background: rgba(0, 0, 0, 0.1);
//         overflow: hidden;

//         &::after {
//             content: '';
//             display: block;
//             position: absolute;
//             height: 15vh;
//             width: 100%;
//             top: -50%;
//             left: 0;
//             background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 75%, #000 100%);
//             animation: run 7s 0s infinite;
//             animation-fill-mode: forwards;
//             animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
//         }

//         &:nth-child(1) {
//             margin-left: -33.33%;
            
//             &::after {
//                 animation-delay: 2s;
//             }
//         }

//         &:nth-child(2) {
//             margin-left: -16.66%;

//             &::after {
//                 animation-delay: 1.5s;
//             }
//         }
//         &:nth-child(4) {
//             margin-left: 16.66%;
            
//             &::after {
//                 animation-delay: 3.5s;
//             }
//         }

//         &:nth-child(5) {
//             margin-left: 33.33%;

//             &::after {
//                 animation-delay: 1s;
//             }
//         }
//     }
// }
        
// @keyframes run {
//     0% {
//         top: -50%;
//     }
    
//     100% {
//         top: 110%;
//     }
// }
// }

// Technical classes

#main-header{
    background-color: transparent;
}

.et_pb_section{
    background: transparent;
}

@include tablet{

	.et_pb_row {
		padding: 0;
	}
}

// Can be used in rows to center its content
.jut-vertical-align { 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
} 

.jut-vertical-align-bottom { 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
} 

.jut-button{

	@include tablet{
		margin: auto;
		width: fit-content;
	}
}

/* Nanuk */
.button--nanuk, #jut-contact-form button {
	overflow: hidden;
	border: 1px solid $action;
    border-radius: 12px;
    text-transform: uppercase;
    color: $white;
    background-color: $action;
	-webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    padding: 15px 20px 12px 20px;

    span{
        font-size: 20px;
        line-height:initial;
    }
}

.button--nanuk > span, #jut-contact-form button > span {
	display: inline-block;
    padding: 1em 0;
}
.button--nanuk:hover, #jut-contact-form button:hover {
    background-color: transparent;
    color: $action;
}

#jut-footer-scroll-up a{
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#jut-footer-scroll-up a:hover{
    background-color: transparent;
    color: $action;
    border: 1px solid $action;

    svg path{
        fill: $action;
    }
}

// Menu

#jut-menu{
    position: fixed;
    height: 0 !important;
    width: 100vw;
    padding: 0;
    z-index:99999;
}

#jut-right-menu-bar{
    position: fixed;
    right: 0;
    top: -77px;
    transform: rotate(270deg);
    width: 100vh;
    transform-origin: bottom right;

    a{
        color: $grey;
        font-weight: 500;
    }
}

#jut-menu-social-icons{
    position: fixed;
    bottom: 0;
    padding: 27px;
    max-width: 150px;

    svg{
        fill: $grey;
    }

}

// Footer Scroll Up Button

#jut-footer-scroll-up{

    a{
        border-radius: 50%;
        background-color: $action;
        padding: 22px 22px 17px 22px;

        img{
            height: 20px;
            width: 20px;
            position: relative;
            top: 3px;
        }
    }

}
// .button--nanuk:hover > span:nth-child(odd) {
// 	-webkit-animation: anim-nanuk-1 0.5s forwards;
//     animation: anim-nanuk-1 0.5s forwards;
//     color: $action;
// }
// .button--nanuk:hover > span:nth-child(even) {
// 	-webkit-animation: anim-nanuk-2 0.5s forwards;
//     animation: anim-nanuk-2 0.5s forwards;
//     color: $action;
// }
// .button--nanuk:hover > span:nth-child(odd),
// .button--nanuk:hover > span:nth-child(even) {
// 	-webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
// 	transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
// }
// @-webkit-keyframes anim-nanuk-1 {
// 	0%,
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, 0, 0);
// 		transform: translate3d(0, 0, 0);
// 	}
// 	49% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 	}
// 	50% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 		color: inherit;
// 	}
// 	51% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, -100%, 0);
// 		transform: translate3d(0, -100%, 0);
// 		color: $action;
// 	}
// 	100% {
// 		color: $action;;
// 	}
// }
// @keyframes anim-nanuk-1 {
// 	0%,
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, 0, 0);
// 		transform: translate3d(0, 0, 0);
// 	}
// 	49% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 	}
// 	50% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 		color: inherit;
// 	}
// 	51% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, -100%, 0);
// 		transform: translate3d(0, -100%, 0);
// 		color: $action;
// 	}
// 	100% {
// 		color: $action;
// 	}
// }
// @-webkit-keyframes anim-nanuk-2 {
// 	0%,
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, 0, 0);
// 		transform: translate3d(0, 0, 0);
// 	}
// 	49% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, -100%, 0);
// 		transform: translate3d(0, -100%, 0);
// 	}
// 	50% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, -100%, 0);
// 		transform: translate3d(0, -100%, 0);
// 		color: inherit;
// 	}
// 	51% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 		color: $action;
// 	}
// 	100% {
// 		color: $action;
// 	}
// }
// @keyframes anim-nanuk-2 {
// 	0%,
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, 0, 0);
// 		transform: translate3d(0, 0, 0);
// 	}
// 	49% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, -100%, 0);
// 		transform: translate3d(0, -100%, 0);
// 	}
// 	50% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, -100%, 0);
// 		transform: translate3d(0, -100%, 0);
// 		color: inherit;
// 	}
// 	51% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(0, 100%, 0);
// 		transform: translate3d(0, 100%, 0);
// 		color: $action;
// 	}
// 	100% {
// 		color: $action;
// 	}
// }
// .button--nanuk:hover > span:nth-child(1) {
// 	-webkit-animation-delay: 0s;
// 	animation-delay: 0s;
// }
// .button--nanuk:hover > span:nth-child(2) {
// 	-webkit-animation-delay: 0.05s;
// 	animation-delay: 0.05s;
// }
// .button--nanuk:hover > span:nth-child(3) {
// 	-webkit-animation-delay: 0.1s;
// 	animation-delay: 0.1s;
// }
// .button--nanuk:hover > span:nth-child(4) {
// 	-webkit-animation-delay: 0.15s;
// 	animation-delay: 0.15s;
// }
// .button--nanuk:hover > span:nth-child(5) {
// 	-webkit-animation-delay: 0.2s;
// 	animation-delay: 0.2s;
// }
// .button--nanuk:hover > span:nth-child(6) {
// 	-webkit-animation-delay: 0.25s;
// 	animation-delay: 0.25s;
// }
// .button--nanuk:hover > span:nth-child(7) {
// 	-webkit-animation-delay: 0.3s;
// 	animation-delay: 0.3s;
// }
// .button--nanuk:hover > span:nth-child(8) {
// 	-webkit-animation-delay: 0.35s;
// 	animation-delay: 0.35s;
// }
// .button--nanuk:hover > span:nth-child(9) {
// 	-webkit-animation-delay: 0.4s;
// 	animation-delay: 0.4s;
// }
// .button--nanuk:hover > span:nth-child(10) {
// 	-webkit-animation-delay: 0.45s;
// 	animation-delay: 0.45s;
// }
// .button--nanuk:hover > span:nth-child(11) {
// 	-webkit-animation-delay: 0.5s;
// 	animation-delay: 0.5s;
// }